<div class="row columns">

  <button (click)="login()" *ngIf="!(user | async)?.uid">Login</button>
  <button (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>

  <div class="scrollbar" id="style-1">
    <div class="details-container" *ngFor="let item of items | async">
      <a>{{item.name}}</a>
      <p>{{item.message}}</p>
    </div>
  </div>

  <input type="text" id="message" *ngIf="(user | async)?.uid" placeholder="Chat Here..." (keyup.enter)="Send($event.target.value)"
    [(ngModel)]="msgVal" />

</div>

